body {
    font-family: "Poppins", sans-serif;
}

.btn-primary {
    background-color: #AEC534;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #6C7F03;
}

h1 {
    font-weight: 400;
}

h2, h3, h4, h5, h6 {
    color: #4E5261;
}

h3 {
    margin-bottom: 1rem;
}

@media (min-width: 1200px) {
    .h3, h3 {
        font-size: 1.66rem;
    }
}

.service-topic {
    background-color: #F8FBFF;
    padding: 2rem;
}

.service-topic strong + p {
    margin-top: 1rem;
}

.service-topic p {
    margin-left: 1rem;
}

.btn {
    border-radius: 36px;
    border: none;
    padding: 1rem 1.5rem;
}

section:not(.section-1) {
    margin-top: 4rem;
}

.section-1 {
    background-color: #F3F9FF;
    height: 5rem;
    align-items: center;
    margin-bottom: 30px;
}

.section-1:before {
    content: "";
    display: block;
    z-index: 100;
    position: relative;
    top: -30px;
    background-image: url(tear-bottom.png);
    height: 30px;
}

.section-1:after {
    content: "";
    display: block;
    z-index: 100;
    position: relative;
    bottom: -2px;
    background-image: url(tear-top.png);
    height: 30px;
}

.carousel-text {
    position: absolute;
    color: white;
    z-index: 9000;
    top: 100%;
    margin-top: -35%;
    width: 30%;
}

@media (max-width: 1200px) {
    .carousel-text h1 {
        font-size: 1.5rem;
    }
}

.section-title {
    font-size: 12px;
    text-transform: uppercase;
    margin: 1rem 0 2rem;
}

.section-subtitle {
    font-size: 32px;
}

ul {
    margin-top: 1rem;
    line-height: 2rem;
    list-style: none;
    padding-left: 0;
}

li {
    display: flex;
}

li:before {
    align-self: center;
    content: url("checkmark.svg");
    margin-right: 0.5rem;
}

.section-2 {
    background-color: #F3F9FF;
    align-items: center;
    margin-top: 30px;
}

.section-2:before {
    content: "";
    display: block;
    z-index: 100;
    position: relative;
    top: -30px;
    background-image: url(tear-bottom.png);
    height: 30px;
}

.section-2:after {
    content: "";
    display: block;
    z-index: 100;
    position: relative;
    bottom: -30px;
    background-image: url(tear-bottom-green.png);
    height: 30px;
}

footer {
    height: 300px;
    background: #6C7F03;
}

strong {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

a.link {
    color: #AEC534;
    display: flex;
}

a.link:before {
    content: url("caret.svg");
    align-self: center;
    margin-right: 0.5rem;
}

.card {
    color: white;
    background-color: #AEC534;
    height: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
}

.card-description {
    font-size: 12px;
    font-weight: 400;
    color: white;
}

.card.card--inverse {
    color: #AEC534;
    background-color: white;
}

.main-header {
    position: fixed;
    top: 0;
    display: flex;
    z-index: 10000;
    height: 6rem;
    width: 100%;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(70,70,70,1) 100%);
}

.main-header .navbar-brand {
    display: flex;
    align-items: center;
}

.main-header img {
    height: 3rem;
}

.main-header .container-fluid {
    /*padding: 0;*/
}

.main-header h1 {
    color: white;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin: 0;
}

.main-header ul {
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 6rem;
    margin-top: 0;
}

.main-header ul li {
    color: white;
    margin-left: 1rem;
    padding: 0;
    border:  5px solid transparent;
}

.main-header ul li a {
    text-decoration: none;
    color: white;
}

.main-header ul li:before {
    display: none;
}

.main-header ul li.selected {
    font-weight: 600;
}

.main-header ul li.selected,
.main-header ul li:not(:last-of-type):hover {
    border-bottom: 5px solid #AEC534;
}

.main-banner {
    max-height: 650px;
    overflow: hidden;
}

.main-banner img {
    width: 100%;
}

.map-container {
    position: relative;
    width: 100%;
}

.map-data {
    position: absolute;
    left: 10%;
    background: white;
    z-index: 10;
    padding: 1rem;
    max-width: 32rem;
    border-radius: 0.5rem;
}

.map-data-item {
    margin-bottom: 1rem;
}

.section-3:after {
    content: "";
    display: block;
    z-index: 100;
    position: relative;
    bottom: -30px;
    background-image: url(tear-bottom-green-white.png);
    height: 30px;
}

p {
    color: #7A849C;
}

.service-list-item {
    margin-bottom: 1rem;
}

.marker {
    border-radius: 100%;
    background-color: #AEC534;
    width: 3rem;
    height: 3rem;
}

button.navbar-toggler, .navbar-toggler:focus {
    border: none;
    box-shadow: none;
    outline: none;
}

.gallery {
    overflow: scroll;
    display: flex;
    align-items: center;
}

.gallery-item img {
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (max-width: 1200px) {
    .main-header img {
        height: 2rem;
    }

    .main-header h1 {
        display: none;
    }
}
@media (max-width: 991px) {
    .main-header {
        background: #333;
        height: 4rem;
    }

    .main-header .container-fluid {
        background: #333;
    }

    .main-header ul {
        height: auto;
    }

    .main-header .btn {
        margin-top: 1rem;
    }

    main {
        margin-top: 4rem;
    }

    .carousel-text {
        width: 80%;
    }

    .carousel-text h1 {
        font-size: 1.2rem;
    }

    .carousel-text .btn {
        margin-top: 0 !important;
    }

    .section-1 {
        height: auto;
        padding-bottom: 1rem;
    }

    .section-1:after {
        display: none;
    }
}

@media (max-width: 767px) {
    .section-1 .text-start,
    .section-1 .text-end,
    .section-1 .text-center {
        text-align: left !important;
    }
}

@media (max-width: 576px) {
    section.service-topic {
        margin-top: 2rem;
    }

    section.map-data {
        position: relative;
        margin: 2rem 0;
        width: auto;
        left: 0;
    }
}
